@model IEnumerable<task.Models.Transaction>

@{
    ViewData["Title"] = "Index";
}

<h1 style="color:#4E1A3D;text-align:center;font-family: fantasy;margin-top:15px"><i>Expense Index</i></h1>

<p>
    <a asp-action="Create" style="color:#4E1A3D;">Create New</a>
</p>
<table class="table" style="background-color:#4E1A3D;color:#B9968D">
    <thead >
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.Expense_Title)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Expense_Description)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Expense_Limit)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Category_Id)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Category_Title)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.DateTime)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.Expense_Title)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Expense_Description)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Expense_Limit)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Category_Id)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Category_Title)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.DateTime)
            </td>
            <td>
                    <a asp-action="Edit" asp-route-id="@item.Expense_Id" style="color:#B9968D;">Edit</a> |
                    <a asp-action="Details" asp-route-id="@item.Expense_Id" style="color:#B9968D;">Details</a> |
                    <a asp-action="Delete" asp-route-id="@item.Expense_Id" style="color:#B9968D;">Delete</a>
            </td>
        </tr>
}
    </tbody>
</table>
