@model task.Models.Category

@{
    ViewData["Title"] = "Delete";
}

<h1 style="color:#4E1A3D;text-align:center;font-family: fantasy;margin-top:15px"><i>Delete</i></h1>

<h3 style="color:#4E1A3D;text-align:center;font-family: fantasy;margin-top:15px"><i>Are you sure you want to delete this?</i></h3>
<div>
    <h4 style ="color:#4E1A3D;text-align:center;font-family: fantasy;margin-top:15px"><i>>>Category</i></h4>
    <hr />
    <dl class="row">
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Category_Name)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Category_Name)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Category_Limit)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Category_Limit)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Category_Description)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Category_Description)
        </dd>
    </dl>
    
    <form asp-action="Delete">
        <input type="hidden" asp-for="Category_Id" />
        <input type="submit" value="Delete" class="btn btn-danger" /> |
        <a asp-action="Index" style="color:#4E1A3D">Back to List</a>
    </form>
</div>
